<app-navbar></app-navbar>


<div class="container-fluid">
<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Quick Contact</h3>
      <h4>Contact us today, and get reply with in 24 hours!</h4>
      <fieldset>
        <input placeholder="Your name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
      </fieldset>
      
      <fieldset>
        <textarea placeholder="Type your Address Here...." tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <div class="text-center">
          <a href="application-successful" class="btn btn-primary text-white px-5 py-3" style="border-radius: 30px;">Submit Your Application</a>
        </div>
      </fieldset>
    </form>
  
    
  </div>
 
  <app-footer></app-footer>
  <!--
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" >Submit</button>

    -->
