<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="circle-loader-wrap">
      <div class="circle-loader-wrap-background"></div>
      <div class="left-wrap">
        <div class="semicircle semicircle--pre"></div>
        <div class="semicircle semicircle--post"></div>
      </div>
      <div class="right-wrap">
        <div class="semicircle semicircle--pre"></div>
        <div class="semicircle semicircle--post"></div>
      </div>
    </div>
    <div class="text-wrap">
      <div class="text-container text-container--one">
        <div class="optimizing">Processsing</div>
        <div class="name">Your Broadband Apllication</div>
      </div>
    </div>
    <div class="text-wrap">
      <div class="text-container text-container--two">
        <div class="check-mark"></div>
      </div>
    </div>
    <div class="text-wrap">
      <div class="text-container text-container--three">
        <div class="confirmation">Yeh ! We Got Your Application</div>
        <div class="confirmation-subtitle">Our Agent Will Contact You As Soon As Possible !</div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <app-footer></app-footer>