<app-navbar></app-navbar>
<div class="container py-5">
<!-- add front page components -->

<main>
    <div class="intro">
      <h1>PB Telecom</h1>
      <p>Wi-Fi like speeds, now on the go.
        With PB Telecom. Up to 30x faster
        <br>
        Enjoy doorstep KYC, paperless process, and quick activation
        <br>
        Get 1 plan-1 bill for Mobile, Fiber
      </p>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Plans</p>
        <p class="work-text">View Plans</p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">TopUp</p>
        <p class="work-text">Recharge </p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Connection</p>
        <p class="work-text">Get Your Broadband Connection</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About Me</h2>
        <p>I am a Fullstack developer and I love to create websites. I am a very good developer and I am always looking for new projects.</p>
      </div>
      <img src="C:\Users\aritra.pandey\Desktop\TelecomWebApp Frontend\telecom-frontend\src\assets\images" alt="me">
    </div>
  </main>
 
</div>
<app-footer></app-footer>